{% extends 'layout.html' %}

{% block content %}
    {% for pst in post %}
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ pst.author }}</a>
                <small class="text-muted">{{ pst.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ pst.title }}</a></h2>
            <p class="article-content">{{ pst.content }}</p>
            </div>
        </article>
    {% endfor %}

{% endblock content %}